header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

h1 {
  color: MediumAquamarine;
  font-size: 14px;
}

.header {
  display: inline-block;
}

.menu {
  display: inline-block;
}

.main {
  display: flex;
}
.left {
  display: flex;
  border: 1px solid black;
  flex-basis: 630;
  flex-wrap: wrap;
  flex-direction: column;
}

.medium {
  display: flex;
  border: 1px solid black;
  flex-basis: 300px;
  flex-direction: column;
}

.right {
  display: flex;
  border: 1px solid black;
  flex-basis: 240px;
  flex-direction: column;
}

.mainheadline {
  display: flex;
  background-image: url("./resources/images/img-story-main.png")
}

.earth {
  display: flex;
  background-image: url("./resources/images/season.png");
}

.camera {
  display: flex;
  background-image: url("./resources/images/hipster.png");
}

.cats {
  display: flex;
  background-image: url("./resources/images/cat_ceo.png");
}

.cookie {
  display: flex;
  background-image: url(".resources/images.cookie.png")
}


p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

#mainhead {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

h4 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
