header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

h1 {
  color: MediumAquamarine;
}

.header {
  display: flex;
}

.menu {
  display: inline-block;
}

.main {
  display: flex;
}
.left {
  border: 1px solid black;
  width: 630px;
}

.medium {
  border: 1px solid black;
  width: 300px;
}

.right {
  border: 1px solid black;
  width: 240px;
}

.mainheadline {
  background-image: url("./resources/images/img-story-main.png")
}

.earth {
  background-image: url("./resources/images/season.png");
}

.camera {
  background-image: url("./resources/images/hipster.png");
}

.cats {
  background-image: url("./resources/images/cat_ceo.png");
}

.cookie {
  background-image: url(".resources/images.cookie.png")
}
