header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

h1 {
  color: MediumAquamarine;
}
.main {
  border: 1px solid black;
  width: 630px;
  display: flex;
}

.medium {
  border: 1px solid black;
  width: 300px;
  container: flex;
}

.right {
  border: 1px solid black;
  width: 240px;
  container: flex;
}
